<router-outlet></router-outlet>

<div>
    <p>
        Steps to reproduce (you will need OData data source with a lot of data. At least several pages):
        <li>Open a select box and scroll down several pages (or to the end)</li>
        <li>Press "Toggle select box" to remove the select box</li>
        <li>Press "Toggle select box" to create the select box</li>
        <li>Open the select box to see a data. At this time the select box will contain only last queried data.</li>
    </p>
</div>

<dx-select-box *ngIf="selectVisible" [dataSource]="dataSource" displayExpr="Name">

</dx-select-box>

<button (click)="btnClick($event)">Toggle select box</button>